*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

img{
    width: 150px;
}

button{
    margin: 0 0.5rem;
    padding: 10px 15px;
}

.content{
    width: 1000px;
    margin: auto;
    margin-top: 5rem;
}

.flex-box{
    display: flex;
    /* border: 2px solid red; */
    
}

.flex-item{
    margin: 0 0.5rem;
}
